{% extends "layout.html" %}

{% block content %}
    <div class="content-container">
        <h1 class="glitch">
            <span aria-hidden="true">404 not found</span>
            404 not found
            <span aria-hidden="true">404 not found</span>
        </h1>
        <div class="page-nf">
            <p class="page-nf-msg">The page you're looking for does not exist.</p>
            <a href='http://localhost/pamokos/gandas.lt/pub/index.php/' class="btn">Home page</a>
        </div>
    </div>
{% endblock %}

