<div class="content-container">
    <div class="item-row-container">
        <div class="item-row-title">
            <h1 class="title">All News</h1>
        </div>
        <ul class="item-row">
            {% for news in data %}
            <li class="news-container">
                <a href='http://localhost/pamokos/gandas.lt/pub/index.php/{{ news.slug }}'>
                    <img src="{{ news.image }}">
                    <div class="news-container-right">
                        <span class="news-container-title title">{{ news. Title }}</span>
                        <p class="news-container-content">{{ news. Content }}</p>
                        <span class="news-container-date">{{ news. CreatedAt }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <hr class="flow-break">
    </div>
</div>