body{
    background: rgba(33,33,33,255);
}

nav ul{
    list-style: none;
    display: flex;
}
header{
    border-bottom: solid 1px white;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size:20px;
    border-right: 1px solid white;
    padding-right: 20px;
}

footer{
    border-top: 1px solid white;
    text-align: center;
}