<html>
<head>
    <title>Gandas.lt | Copy-pasted news</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://localhost/pamokos/gandas.lt/pub/css/style.css">
</head>
<body>
<header class="main-header">
    <div class="header-top">
        <div class="web-logo">
            <a href='http://localhost/pamokos/gandas.lt/pub/index.php/'>
            <img src="http://localhost/pamokos/gandas.lt/pub/images/web_logo.png">
            </a>
        </div>
        <div class="search-bar">
            <form class="search-form" action="">
                <select class="search-field" name="field">
                    <option selected value="title">Title</option>
                    <option value="description">Description</option>
                </select>
                <input name="search" type="text" placeholder="Search" class="search-term">
                <input type="submit" value="&#x1F50E;&#xFE0E;" class="search-btn">
            </form>
        </div>
        <nav class="nav user-nav">
            <ul>
                <li><a class="btn btn-signup" href=''>Register</a></li>
                <li><a class="btn btn-login" href=''>Sign in</a></li>
                <li><a class="btn btn-logout" href=''>Logout</a></li>
            </ul>
        </nav>
    </div>
    <nav class="nav site-nav">
        <ul>
            <li><a href='http://localhost/pamokos/gandas.lt/pub/index.php/'>Home</a></li>
            <li><a href='http://localhost/pamokos/gandas.lt/pub/index.php/news/all/'>All News</a></li>
        </ul>
    </nav>
</header>
<div class="page-content">