:root {
    --grey-900: #181818;
    --grey-500: #252525;
    --grey-600: #202020;
    --grey-100: #717171;
    --grey-50: #D2D2D2;
    --red-500: #EE2E2E;
    --blue-500: #2141D5;
    --yellow-500: #EEBA37;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #FFF;
}

html, body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: auto;
}

body {
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style-type: none;
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--grey-900);
    margin: 0;
    padding: 0;
    box-shadow: inset 0 -10px 10px -10px rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.nav {
    display: flex;
}

.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #FFF;
    background: 0;
    padding: 6px 7px;
    font-weight: 500;
}

.btn-admin {
    border: 1px solid var(--blue-500);
}

.btn-logout {
    border: 1px solid var(--red-500);
}

.btn-signup {
    border: 1px solid var(--yellow-500);
}

.btn-login {
    border: 1px solid var(--blue-500);
}

.btn-saved {
    display: flex;
}

.btn-saved img {
    height: 32px;
}

.btn:hover {
    background: #FFF;
    color: #000;
}

.btn-admin:hover {
    background: #2141D560;
    color: #FFF;
}

.btn-logout:hover {
    background: #EE2E2E60;
    color: #FFF;
}

.btn-signup:hover {
    background: #EEBA3760;
    color: #FFF;
}

.btn-login:hover {
    background: #2141D560;
    color: #FFF;
}

.btn:active {
    transform: scale(0.98);
}

.user-nav {
    margin: 0;
    flex-grow: 1;
}

.user-nav ul {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1em;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.user-nav li {
    text-align: right;
    padding: 0;
}


.btn-inbox img {
    width: 40px;
}

.mark {
    box-sizing: unset;
    position: absolute;
    top: 0.5em;
    right: calc(2em + 72px - 0.675em);
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 0.25em;
    height: 1.1em;
    width: 1.1em;
    text-align: center;
}

.inbox-empty {
    background: var(--grey-500);
}

.inbox-mid {
    background: red;
}

.inbox-full {
    background: red;
}

.btn-inbox {
    display: flex;
}

.btn-inbox img:hover {
    content: url("http://localhost/pamokos/oop/pub/images/mail_open.png");
}

.btn-saved img:hover {
    content: url("http://localhost/pamokos/oop/pub/images/heart_full.png");
}

.user-nav img:active {
    transform: scale(0.97);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    padding: 0.5em 1em;
}

.search-bar {
    margin: 0;
    flex-grow: 3;
}

.search-form {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0;
}

.search-field {
    color: #000;
    width: auto;
    border: none;
    border-right: 1px solid rgb(210, 210, 210);
    text-align: left;
    background: rgb(225, 225, 225);
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

.search-field option {
    color: var(--grey-900);
}

.search-term {
    width: 100%;
    border: none;
    padding: 5px;
    height: 50px;
    border-radius: 0;
    outline: none;
    font-size: 1em;
    color: var(--grey-900)
}

.search-term:focus {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.search-btn {
    width: auto;
    height: 50px;
    border: none;
    padding: 0 0.7em;
    background: var(--grey-100);
    text-align: center;
    color: #FFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-btn:active {
    transform: scale(0.98);
}

.web-logo {
    margin: 0;
    flex-grow: 1;
}

.web-logo img {
    height: 50px;
}

.web-logo img:active {
    transform: scale(0.99);
}

.site-nav a:active {
    transform: scale(0.98);
}

.nav a {
    text-decoration: none;
}

.site-nav {
    padding: 0 1em;
    margin: 0;
}

.site-nav ul {
    margin: 0;
    padding-left: 0;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}

.site-nav li {
    margin-right: 1%;
    padding: 0;
    font-size: 20px;
}

.site-nav a {
    display: inline-block;
    padding: 0.5em;
}

.site-nav a:hover {
    background: #FFFFFF20;
    box-shadow: inset 0 -10px 10px -10px rgb(210, 210, 210, 0.8);
}

footer {
    background-color: var(--grey-900);
    text-align: center;
    flex-shrink: 0;
    box-shadow: inset 0 10px 10px -10px rgba(255, 255, 255, 0.2);
}

.comment {
    border: 1px solid;
    background-color: var(--grey-900);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment_user {
    text-transform: capitalize;
    font-weight: bold;
}

.comment_date {
    font-style: italic;
    font-size: 10pt;
    margin-left: auto;
}

.comment_content {
    background-color: var(--grey-500);
    padding: 10px;
    flex-basis: 100%;
}

.comment_content:first-letter {
    text-transform: capitalize;
}

.page-nf {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.page-nf a {
    text-decoration: none;
}

.glitch {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    text-shadow: 0.03em 0 0 rgba(150, 0, 0, 0.7),
    -0.015em -0.03em 0 rgba(0, 150, 0, 0.7),
    0.015em 0.03em 0 rgba(0, 0, 125, 0.7);

    animation: glitch 200ms infinite;
}

.glitch span {
    position: absolute;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.06em, -0.02em);
    opacity: 0.7;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 30%, 100% 100%, 0 100%);
    transform: translate(0.035em, 0.015em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow: 0.03em 0 0 rgba(150, 0, 0, 0.7),
        -0.015em -0.03em 0 rgba(0, 150, 0, 0.7),
        0.015em 0.03em 0 rgba(0, 0, 125, 0.7);
    }
    14% {
        text-shadow: 0.03em 0 0 rgba(150, 0, 0, 0.7),
        -0.015em -0.03em 0 rgba(0, 150, 0, 0.7),
        0.015em 0.03em 0 rgba(0, 0, 125, 0.7);
    }
    15% {
        text-shadow: -0.03em -0.015em 0 rgba(150, 0, 0, 0.7),
        0.015em 0.015em 0 rgba(0, 150, 0, 0.7),
        -0.03em -0.03em 0 rgba(0, 0, 125, 0.7);
    }
    49% {
        text-shadow: -0.03em -0.015em 0 rgba(150, 0, 0, 0.7),
        0.015em 0.015em 0 rgba(0, 150, 0, 0.7),
        -0.03em -0.03em 0 rgba(0, 0, 125, 0.7);
    }
    50% {
        text-shadow: 0.015em 0.03em 0 rgba(150, 0, 0, 0.7),
        0.03em 0 0 rgba(0, 150, 0, 0.7),
        0 -0.03em 0 rgba(0, 0, 125, 0.7);
    }
    59% {
        text-shadow: 0.015em 0.03em 0 rgba(150, 0, 0, 0.7),
        0.03em 0 0 rgba(0, 150, 0, 0.7),
        0 -0.03em 0 rgba(0, 0, 125, 0.7);
    }
    60% {
        text-shadow: -0.015em -0.03em 0 rgba(150, 0, 0, 0.7),
        -0.03em 0 0 rgba(0, 150, 0, 0.7),
        0 0.03em 0 rgba(0, 0, 125, 0.7);
    }
    99% {
        text-shadow: -0.015em -0.03em 0 rgba(150, 0, 0, 0.7),
        -0.03em 0 0 rgba(0, 150, 0, 0.7),
        0 0.03em 0 rgba(0, 0, 125, 0.7);
    }
    100% {
        text-shadow: -0.015em 0 0 rgba(150, 0, 0, 0.7),
        -0.015em -0.015em 0 rgba(0, 150, 0, 0.7),
        -0.015em -0.03em 0 rgba(0, 0, 125, 0.7);
    }
}

.page-content {
    margin: 0.5rem auto 0 auto;
    flex: 1 0 auto;
}

.page-content img {
    width: 200px;
    height: 150px;
}

.home-content {
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-container {
    margin: 0 auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    height: 100%;
}

.item-row-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: var(--grey-900);
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 1145px) {
    .item-row-container {
        width: calc(800px + 2.4rem + 1.5rem + 2rem);
    }
}

@media screen and (max-width: 935px) {
    .item-row-container {
        width: calc(600px + 1.8rem + 1rem + 2rem);
    }
}

@media screen and (max-width: 725px) {
    .item-row-container {
        width: calc(400px + 1.2rem + 0.5rem + 2rem);
    }
}

@media screen and (max-width: 515px) {
    .item-row-container {
        width: calc(200px + 0.6rem + 2rem);
    }
}

.flow-break {
    height: 1rem;
    margin: 0;
    border: none;
}

.item-row-title {
    margin: 0.5rem 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.item-row-title h1 {
    font-weight: normal;
}

.item-row {
    flex-wrap: wrap;
    display: flex;
    margin: 0 0 0.5rem;
    padding: 0;
    list-style-type: none;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
}

.news-container {
    width: 100%;
    border-radius: 0.1rem;
    background: var(--grey-500);
    padding: 0.3rem 0.3rem;
    text-align: left;
    height: calc(180px + 0.6rem);
    overflow: hidden;
}

.news-container-right {
    display: flex;
    flex-direction: column;
}

.news-container:hover {
    background: var(--grey-500);
    transform: scale(1.005);
    box-shadow: 0 5px 2px -2px #00000040;
}

.news-container img {
    width: 100%;
    height: auto;
}

.news-container-title {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    font-size: 1.2rem !important;
    line-height: 1 !important;
    color: #FFF;
    font-weight: 600 !important;
    text-align: left !important;
}

.news-container-content {
    margin-bottom: 0.5rem;
    line-height: 1;
    color: var(--grey-50);
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.news-container-date {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    text-align: right;
    line-height: 1;
    color: var(--grey-50);
    margin-top: auto;
}

.news-container img {
    margin-right: 0.5rem;
    width: auto;
    height: 180px;
}

.news-container a {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}

.news-container-footer {
    width: 100%;
    display: flex;
    height: 2.5rem;
    margin-bottom: 0.2rem;
    align-items: center;
}

.news-single-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-single-container img {
    width: 100%;
    height: auto;
}

.news-header {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1rem !important;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-family: charter, georgia, serif;
    font-weight: normal;
}

.news-title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: #000;
    padding: 2rem;
    width: 60%;
}

.date {
    font-size: 0.7rem;
    text-align: left;
    align-self: flex-start;
    font-style: italic;
}

.author {
    font-size: 0.9rem;
    text-align: left;
    align-self: flex-start;
    font-style: italic;
    font-weight: bold;
}

.news-content {
    width: 45%;
}

.news-content p {
    margin-top: 1.5rem;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}